[Unit]
Description=esmart3 flask backend
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'cd /etc/opt/esmart3/flask && source venv/bin/activate && python3 server.py'

[Install]
WantedBy=multi-user.target
