<!DOCTYPE html>
<html lang="en">
<head>
  <title>Esmart3 Monitor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/esmart3/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/esmart3/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/esmart3/static/css/side_navigation.css">
  <link rel="stylesheet" href="/esmart3/static/css/toggle_button.css">
  <link rel="stylesheet" href="/esmart3/static/css/mobile_menu.css">
  <script src="/esmart3/static/js/jquery.min.js"></script>
  <script src="/esmart3/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="topnav" id="myTopnav">
  <a href="javascript:void()" data="ChgSts" class="active" id="status">Status</a>
  <a id="battery" href="javascript:void()" data="BatParam">Battery</a>
  <a id="log" href="javascript:void()" data="Log">Log</a>
  <a id="parameters" href="javascript:void()" data="Parameters">Parameters</a>
  <a id="load" href="javascript:void()" data="LoadParam">Load</a>
  <a id="remotecontrol" href="javascript:void()" data="RemoteControl">RemoteControl</a>
  <a id="proparam" href="javascript:void()" data="ProParam">Load Protection</a>
  <a id="information" href="javascript:void()" data="Information">Information</a>
  <a id="temparam" href="javascript:void()" data="TempParam">Temporary</a>
  <a id="monthpower" href="javascript:void()" data="MonthPower">MonthPower Generation</a>
  <a id="engsave" href="javascript:void()" data="EngSave">Power Consumptions</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>

<!-- toggle siwth site https://www.geeksforgeeks.org/how-to-create-toggle-switch-by-using-html-and-css/ -->

</div>

<div class="container">
	<label>inv-serial</lable>
	<label class="switch" >        
		<input id="inverter_serial_21" type="checkbox">
		<span class="slider round"></span>
	</label>

	<label>Invt Line</lable>
	<label class="switch" >        
		<input id="INV_Line_SSR_power_17" type="checkbox">
		<span class="slider round"></span>
	</label>

	<label>AC</lable>
	<label class="switch" >
		<input id="PC_AC_SSR_power_18" type="checkbox">
		<span class="slider round"></span>
	</label>



	<label>Auto</lable>
	<label class="switch" >        
		<input id="autopower" data="0" type="checkbox">
		<span class="slider round"></span>
	</label>

	<label>PC</lable>
	<label class="switch" >        
		<input id="rx570x4_16" type="checkbox">
		<span class="slider round"></span>
	</label>

	<label>Shutdown PC</lable>
	<label class="switch" >        
		<input id="shutdownPc_4" data="0" type="checkbox">
		<span class="slider round"></span>
	</label>

	<label>Start PC</lable>
	<label class="switch" >        
		<input id="startPc_4" type="checkbox">
		<span class="slider round"></span>
	</label>
</div>

<div class="content">
</div>

         
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<script src="/esmart3/static/js/service.js"></script>

</body>
</html>


b
