<!DOCTYPE html>
<html lang="en">
<head>
  <title>Esmart3 Monitor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/esmart3/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/esmart3/static/css/side_navigation.css">
  <script src="/esmart3/static/js/jquery.min.js"></script>
  <script src="/esmart3/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="sidebar">
  <a href="javascript:void()" data="ChgSts" class="active" id="status">Status</a>
  <a id="battery" href="javascript:void()" data="BatParam">Battery</a>
  <a id="log" href="javascript:void()" data="Log">Log</a>
  <a id="parameters" href="javascript:void()" data="Parameters">Parameters</a>
  <a id="load" href="javascript:void()" data="LoadParam">Load</a>
  <a id="remotecontrol" href="javascript:void()" data="RemoteControl">RemoteControl</a>
  <a id="proparam" href="javascript:void()" data="ProParam">Load Protection</a>
  <a id="information" href="javascript:void()" data="Information">Information</a>
  <a id="temparam" href="javascript:void()" data="TempParam">Temporary</a>
  <a id="engsave" href="javascript:void()" data="EngSave">Power Consumptions</a>
</div>

<div class="content">
</div>


<script src="/esmart3/static/js/service.js"></script>

</body>
</html>


